@import url(./blocks/base.css);
@import url(./blocks/header.css);
@import url(./blocks/maincontent.css);
@import url(./blocks/about.css);
@import url(./blocks/footer.css);
@import url(./blocks/services.css);
@import url(./blocks/reviews.css);
@import url(./blocks/welcome.css);