html {
	font-family: "Open Sans";
	font-size: 16px;
	
}

body {
    background: #001821;
}

body, html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	margin: 0;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
    display: block;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}


.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1140px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

