.footer {
    position: relative;
    height: 152px;
}

.menu, .socials, .contacts {
    display: inline-block;
}

.contacts__call {
	font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}

.contacts__phone {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials {
    margin-left: 274px;
}

.socials__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}


.socials__item:last-child {
    margin-right: 0;
}

.footer__container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1140px;
    border-top: 1px solid rgba(255,255,255,0.1);
    margin-top: 53px;
}
