.footer {
    position: relative;
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__services {
    height: 132px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
    
}

.footer__col--allign--right {
    align-items: flex-end;
    align-items: center;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.contacts__call {
    align-items: flex-end;
	font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
    margin-left: 26px;
}

.contacts__phone {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    margin-top: 12px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials {
    margin-right: 66px;
}

.socials__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}


.socials__item:last-child {
    margin-right: 0;
}

.footer__container {
    margin: 0 auto;
	width: 100%;
	height: 95%;
	max-width: 1140px;
    margin-top: auto;
}

.footer__container-main{
    border-top: 1px solid rgba(255,255,255,0.1);
}

.socials__item--icon--telegram .socials__link {
    background-image: url("../../img/tg.png");
    
}

.socials__item--icon--telegram .socials__link:hover {
    background-image: url("../../img/tg.png");
    filter: brightness(50);
}

.socials__item--icon--vkontakte .socials__link {
    background-image: url("../../img/vk.png");
    
}

.socials__item--icon--vkontakte .socials__link:hover {
    background-image: url("../../img/vk.png");
    filter: brightness(50);
}

.socials__item--icon--facebook .socials__link {
    background-image: url("../../img/fb.png");
    
}

.socials__item--icon--facebook .socials__link:hover {
    background-image: url("../../img/fb.png");
    filter: brightness(50);
}

.socials__item--icon--instagram .socials__link {
    background-image: url("../../img/inst.png");
    
}

.socials__item--icon--instagram .socials__link:hover {
    background-image: url("../../img/inst.png");
    filter: brightness(50);
}