.header{
    height: 77px;
}

.header__container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1140px;
}

.wrapper__content {
	background: url("/img/background1.png"), url("/img/background2.png");
	background-position: top, bottom;
	background-repeat: no-repeat, no-repeat;
	width: 1920px, 1920px;
	height: 1202px, 893px;
}


.logo, .menu, .menu__item, .contacts{
	display: inline-block;
}


.logo{
	margin-top: 29px;
}

.logo{
	float: left;
}

.contacts{
	margin-top: 29px;
}

.contacts{
	float: right;
}

.menu{
	margin-top: 43px;
	margin-left: 79px;
}

.menu__item{
	margin-right: 54px;
}

.menu__item:last-child{
	margin-right: 0px;
}

.contacts__phone {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 35px;
}

.contacts__info {
	float: right;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
}

.menu__item:hover {
	color: #F5170E;
}