.hello__title{
    width: 511px;
    height: 197px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    margin-top: 131px;
}

.hello__subtitle{
    width: 196px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-top: 27.5px;
}

.button__hello {
    width: 168px;
    padding: 18px 0;
    background-color: #F5170E;
    border: 1px solid #F5170E;
    border-radius: 35px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-top: 37.5px;
}

.button__hello:hover {
    background-color: #FFFFFF;
    color: #F5170E;
    border: 1px solid #F5170E;
}

.title__fire{
    margin-top: 246px;
    width: 273px;
    height: 49px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}


.title__fire, .fire__image{
	display: inline-block;
}

.fire__image{
    width: 21px;
    height: 28px;
    margin-left: 0px;
}



.offers__item{
    width: 362px;
    height: 449px;
    display: inline-block;
    margin-right: 27px;
    margin-top: 0px;
    background: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
}

.offers__item:last-child{
    margin-right: 0px;
}

.offers__title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-top: 33px;
    margin-left: 22px;
}


.offers__text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #303030;
    margin-top: 23.5px;
    margin-left: 22px;
}


.offers__features{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
}


.offers__meal, .offers__calendar, .offers_feature__text, .calendar__icon, .meal__icon { 
    display: inline-block;
}

.offers__calendar{
    margin-top: 21px;
    margin-left: 28px;

}

.offers_feature__text{
    margin-left: 10px;
}

.offers__meal{
    margin-left: 28px;
}

.button__light {
    width: 168px;
    padding: 18px 0;
    background-color: #FFFFFF;
    border: 1px solid #F5170E;
    color: #F5170E;
    border-radius: 35px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-top: 24.5px;
    margin-left: 24px;

}

.button__light:hover {
    background-color: #F5170E;
    color: #FFFFFF;
    border: 1px solid #F5170E;
}
